header {
    text-align: center;
}

#search-for-city, #weather-info, #five-day-forecast-container {
    margin: 10px;
}

#search-box-label, #search-box, #search-city-btn, #previous-searches-display, #current-weather-container, #five-day-forecast-container {
    margin: 30px 0px;
}

