header {
    text-align: center;
}

#search-for-city, #weather-info, #five-day-forecast-container {
    margin: 10px;
}

#search-box-label, #search-box, #previous-searches-display, #current-weather-container, #five-day-forecast-container {
    margin: 20px 0px;
}

/* Border for current weather container */
.currentContainer {
    border: 1px solid black;
    max-width: 80%;
    padding: 10px;
    border-radius: 20px;
}

#future-forecast-row {
    display: flex;
    flex-direction: row;
}

.day-div {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;;
    border-radius: 20px;
    min-width: 15%;
    background-color: rgb(18, 18, 68);
    color: white;
}

@media screen and (max-width: 768px) {
    #future-forecast-row {
        flex-direction: column;
    }
    .day-div {
        min-width: 250px;
        align-self: center;
    }
}

.previous-searches {
    border-radius: 5px;
    min-width: 100%;
    height: 45px;
    margin: 5px 0px;
    background-color: gray;
    color: white;
    font-weight: 500;
    font-size: 17px;
    font-family: revert;
    border: gainsboro;
}

